* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(var(--mdui-color-surface-container));
}

.player__container {
    display: flex;
    justify-content: center;
}

.player__cover {
    width: 100px;
    height: 100px;
    background: center no-repeat;
    background-image: url(./radioreunion__1.1.png);
    background-size: cover;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(var(--mdui-color-primary), 0.5);
}

.player__playback, .player__playlist, .player__controls {
    display: flex;
    align-items: center;
}

.player__controls {
    gap: 1em;
}

.player__title, .player__artist {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.player__title {
    font-size: 1.1em;
}
.player__artist {
    opacity: .8;
    font-size: .8em;
}
.player__info {
    padding: 1em 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.player__progress {
    min-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
}

@media screen and (max-width: 710px) {
    .player__info {
        max-width: calc(100vw - 212px);
        padding: 1em .5em;
    }
    .player__progress {
        min-width: 0;
        width: calc(100vw - 222px - 1em);
    }
}

.player__progress-bar {
    width: 100%;
    transform: scale(.95);
}
.player__time_elapsed, .player__duration {
    font-size: .8em;
}
.player__loading mdui-circular-progress {
    width: 40px;
    height: 40px;
    margin: auto;
}
.player__loading {
    width: 100px;
    height: 100px;
    display: none;
}

header {
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 10px;
}

.header__title {
    font-size: 1.3em;
    color: rgb(var(--mdui-color-primary));
    letter-spacing: 1px;
}

.welcome__illustration {
    background: url(https://pic1.imgdb.cn/item/693d9294fe7cfeca3823a17f.png) no-repeat center;
    width: 210px;
    height: 210px;
    background-size: cover;
}
.welcome__text {
    font-size: .8em;
    letter-spacing: 1px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-bottom: 2em;
}
.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.app_page {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    transition: opacity .2s;
}

.app_page:not(#app_page__main) {
    display: none;
}

.playlist__title {
    font-size: 1.3em;
    letter-spacing: 1px;
    white-space: nowrap;
}

.playlist__header {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 23px;
}
.playlist__item_cover {
    width: 60px;
    height: 60px;
}

.playlist__playlist mdui-list-item::part(headline), .playlist__playlist mdui-list-item::part(description) {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search__container {
    display: flex;
    width: 100%;
    max-width: 790px;
    flex-direction: column;
    align-items: center;
    padding: 1em 1.5em;
}

.search__result {
    width: 100%;
    max-width: 790px;
}

@media screen and (max-width: 340px) {
    .player__progress {
        display: none;
    };
};

.search__loading {
    display: none;
}


.featured__container {
    width: 100%;
    max-width: 790px;
}

mdui-tab::part(icon) {
    margin-right: 10px;
}

.featured__loading_container {
    display: flex;
    justify-content: center;
    padding: 2em;
}

.featured__item_cover {
    width: 100px;
    height: 100px;
}

/* lyrics page */
.lyrics__container{
    height: calc(100vh - 200px - 2em);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    max-width: 790px;
    width: 100%;
}
.lyrics__container ul{
    transition: 0.3s;
    width: 100%;
    text-align: center;
}
.lyrics__container li{
    height: auto;
    line-height: 30px;
    transition: 0.3s;
    list-style: none;
    color: rgb(var(--mdui-color-secondary));
    opacity: .8;
    margin: 10px 0;
}
.lyrics__container li.active{
    color: rgb(var(--mdui-color-primary));
    opacity: 1;
    transform: scale(1.2);
}

.lyrics__loading_wrapper {
    display: none;
    justify-content: center;
    padding: 2em;
}

.playlist__title_badge {
    transform: translate(-8px, -14px);
    display: none;
    background: rgb(var(--mdui-color-primary));
}

mdui-badge {
    padding: revert-layer;
}

.welcome_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(var(--mdui-color-background));
    display: flex;
    transition: opacity .3s ease-out;
}

.welcome__content {
    margin: auto;
    text-align: center;
}

.welcome__content .header__title {
    padding-bottom: .875rem;
}

.welcome__desc {
    display: flex;
    gap: 12px;
}

.detail__see_mv {
    display: none;
}

.detail__actions {
    margin-left: auto;
}

.mv__video {
    max-width: 46%;
    border-radius: 1em;
}

@media screen and (max-width: 425px) {
    .mv__video {
        max-width: 100%;
    }
}

/* .search__tabs {
    display: none;
} */

.search__loading, .stations__loading {
    display: none;
    justify-content: center;
    padding: 40px;
}

.search__history_list {
    max-width: none;
    max-height: 34vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.search__history_list mdui-menu-item::part(end-icon) {
    transform: scale(.6);
}

.search__clear_history::part(label) {
    text-align: right;
}