* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: rgb(var(--mdui-color-surface-container));
}

.player__container {
    display: flex;
    justify-content: center;
}

.player__cover {
    width: 100px;
    height: 100px;
    background: center no-repeat;
    background-image: url(./radioreunion__1.1.png);
}

.player__playback, .player__playlist, .player__controls {
    display: flex;
    align-items: center;
}

.player__controls {
    gap: 1em;
}

.player__title {
    font-size: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.player__artist {
    opacity: .8;
    font-size: .8em;
}
.player__info {
    padding: 1em 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

@media screen and (max-width: 710px) {
    .player__info {
        max-width: calc(100vw - 212px);
        padding: 1em .5em;
    }
    .player__progress {
        min-width: 0 !important;
    }
}

.player__progress {
    min-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: .5em;
}
.player__progress-bar {
    width: 100%;
    transform: scale(.95);
}
.player__time_elapsed, .player__duration {
    font-size: .8em;
}
.player__loading mdui-circular-progress {
    width: 40px;
    height: 40px;
    margin: auto;
}
.player__loading {
    width: 100px;
    height: 100px;
    display: none;
}

header {
    display: flex;
    padding: 30px;
    align-items: center;
    gap: 10px;
}

.header__title {
    font-size: 1.3em;
    color: rgb(var(--mdui-color-primary));
    letter-spacing: 1px;
}

.welcome__illustration {
    background: url(https://pic1.imgdb.cn/item/693d9294fe7cfeca3823a17f.png) no-repeat center;
    width: 210px;
    height: 210px;
    background-size: cover;
}
.welcome__text {
    font-size: .8em;
    letter-spacing: 1px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-bottom: 2em;
}
.welcome {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.app_page {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.app_page:not(#app_page__main) {
    display: none;
}

.playlist__title {
    font-size: 1.3em;
    letter-spacing: 1px;
}

.playlist__header {
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 23px;
}
.playlist__item_cover {
    width: 60px;
    height: 60px;
}

.playlist__playlist mdui-list-item::part(headline), .playlist__playlist mdui-list-item::part(description) {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search__container {
    display: flex;
    width: 100%;
    max-width: 790px;
    flex-direction: column;
    align-items: center;
    padding: 2em 1.5em;
}