* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

main {
    display: flex;
    width: 100%;
    max-width: 760px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    gap: 2em;
}

small {
    font-size: .7rem;
    opacity: .8;
    text-align: center;
    line-height: 1.5;
}

.stop__btn {
    display: none;
}

.info__wrapper {
    padding: 1.1rem;
    display: flex;
    gap: 1.3rem;
    align-items: center;
}

.info__text {
    font-size: .7rem;
}