* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 1em;
    background-color: rgb(var(--mdui-color-surface-container));
    letter-spacing: 1px;
}

.homepage-title {
    font-size: 1.2rem;
    color: rgb(var(--mdui-color-primary));
}

main {
    width: 100%;
    max-width: 970px;
    padding: 10px;
}

.search__input::part(input) {
    text-align: center;
}

.welcome__card {
    padding: 1em;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.welcome__wrapper {
    margin-top: 1em;
    width: 100%;
}

.welcome__texts_wrapper {
    text-align: center;
}

.welcome__icon mdui-icon {
    font-size: 1.9rem;
}