* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 1em;
    letter-spacing: 1px;
    font-size: 1.2em;
    text-align: center;
    background-color: rgb(var(--mdui-color-surface-container));
    color: rgb(var(--mdui-color-primary));
}

main {
    width: 100%;
    max-width: 1298px;
    padding: 0 10px 3.2em 10px;
}

table {
    white-space: nowrap;
}

.table__container {
    white-space: nowrap;
}

table thead th {
    background-color: rgb(var(--mdui-color-surface-container));
    text-align: center;
}

.add__btn {
    width: 100%;
    padding: .9em;
    display: flex;
    justify-content: center;
    gap: 1.2em;
    align-items: center;
}

.table__input {
    height: 2.3em;
    min-width: 177px;
    font-size: .875rem;
}

.table__input::part(input) {
    font-size: .875rem;
}

.table__remove_btn {
    color: rgb(var(--mdui-color-primary));
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.table__remove_btn:active {
    color: rgb(var(--mdui-color-secondary));
}

.commit__form {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}