* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: sans-serif;
}

::selection {
    background: #333;
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
}

.app {
    width: 100%;
    height: 100%;
    max-width: 700px;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    color: #E53935;
    margin: 40px;
}

.titles {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
} 

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
}

h2 {
    font-size: 14px;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #E53935;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

a:active {
    color: #EF9A9A;
}

a:focus {
    outline: dashed .1px;
}

.switch-ver {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
}

mdui-card {
    display: block;
    margin: 20px 0;
}

.sayings {
    padding: 10px 10px 10px 50px;
    color: #db4f4f;
}

.search-box-wrapper {
    display: flex;
    gap: 10px;
}

.search-btn {
    height: auto;
}

.footer {
    padding: 10px;
    color: #db4f4f;
    font-size: 14px;
}

.info {
    padding: 20px 0;
}

.links {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

mdui-tabs {
    margin: 20px 0;
}

.activity-container {
    margin: 20px 0;
}

.activity-card {
    background-size: cover;
    background-position: center;
    aspect-ratio: 16 / 9;
    margin: 0;
}

@supports not (aspect-ratio: 16 / 9) {
    .activity-card {
        width: 100%;
        height: 400px;
    }
}

.activity-desc {
    margin: 0;
    padding: 10px;
    color: #db4f4f;
    display: flex;
    justify-content: center;
}

.info-btn {
    height: auto;
    font-size: 20px;
}

.changelog-wrapper {
    position: absolute;
    right: 109px;
    top: 84px;
    width: 277px;
    height: 174px;
}

.changelog-box legend {
    padding: 0 6px;
    margin-left: 10px;
    font-size: 12px;
    color: rgb(var(--mdui-color-primary));
    position: relative;
}

.changelog-box {
    width: 100%;
    height: 100%;
    border-color: rgb(var(--mdui-color-primary));
}

.changelog-frame {
    width: 100%;
    height: calc(100% + 7px);
    margin-top: -7px;
}

@media screen and (max-width: 1000px) {
    .changelog-wrapper {
        position: inherit;
        width: 100%;
        max-width: 700px;
    }
    body {
        flex-direction: column;
        align-items: center;
    }
}

.changelog-view-all {
    margin-top: 10px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: hidden;
}

.option {
    display: flex;
    align-items: center;
    gap: 20px;
}

.latest-update-wrapper {
    display: flex;
    column-gap: 20px;
    font-family: inherit;
    flex-wrap: wrap;
}

.commit-icon {
    font-family: 'Material Icons';
    vertical-align: middle;
    font-size: 18px;
    margin-top: -10px;
}

.notify {
    position: absolute;
    top: 10px;
    right: 72px;
    font-size: 14px;
}

.notify-icon {
    font-family: 'Material Icons';
    font-size: 14px;
}

.notify-badge {
    display: none;
    transform: scale(.2) translateY(-24px) translateX(-58px);
}

.notify-list {
    max-width: 70vw;
    width: 256px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 14px;
}