* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.app {
    width: 100%;
    max-width: 540px;
    padding: 10px;
}

.result {
    padding: 20px;
    margin-top: 20px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
}

.input {
    width: 100%;
}

.preview-btn {
    height: 100%;
}

.result-card {
    display: flex;
    justify-content: center;
    background-color: #fff;
    overflow: auto;
}

.latex-input {
    cursor: text !important;
}

.download, .copyright, .expand-wrapper {
    text-align: center;
    margin-top: 20px;
}

.download-btn, .result-container {
    display: none;
}

.copyright {
    font-size: .8rem;
}

.view-settings {
    margin-top: 5px;
    justify-content: center;
    column-gap: 20px;
    display: none;
    flex-wrap: wrap;
}

.expand-btn {
    display: none;
}

.loading {
    display: none;
    justify-content: center;
}