* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchbar {
    width: 100%;
    max-width: 600px;
    margin-right: auto;
}

.app {
    padding: 30px;
}

header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 41px;
    row-gap: 19px;
    column-gap: 32px;
}

.balance, .account {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title {
    font-size: 1.3rem;
    margin-bottom: 24px;
}

main {
    margin: 41px 0;
}

.logout {
    display: none;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    grid-template-rows: masonry;
}

.services-container .mdui-card {
    width: 300px;
    text-wrap: wrap;
    height: fit-content;
}

@media screen and (max-width: 690px) {
    .services-container .mdui-card {
        width: 100%;
    }
    .services-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

@supports not (grid-template-rows: masonry) {
    .services-container {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
}

footer {
    text-align: center;
    opacity: .54;
    font-size: .8rem;
}