* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    width: 100%;
    max-width: 620px;
}

mdui-top-app-bar {
    padding: 20px;
}

mdui-top-app-bar-title {
    font-size: 26px;
}

.quiz-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quiz-header {
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
    overflow-x: auto;
}

.quiz-field {
    padding: 22px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.question-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.quiz-text {
    font-size: 30px;
    text-align: right;
}

.quiz-input {
    width: 76px;
}

@media screen and (max-width: 400px) {
    .quiz-text {
        font-size: 18px;
        text-align: center;
    }
    .question-wrapper {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.settings-panel::part(panel) {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.settings-panel::part(overlay) {
    backdrop-filter: blur(3px);
}

.settings-label {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.settings-actions {
    display: flex;
    gap: 14px;
    transform: scale(.8);
    width: 100%;
}

.question-types-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#fixed-max-digits::before {
    content: '';
    margin-right: 33px;
}

.max-digits-input {
    transform: scale(.8);
    width: 100px;
    height: 32px;
}

.max-digits-input-wrapper {
    display: flex;
    padding-left: 39px;
    gap: 10px;
    align-items: center;
}

.header-text {
    margin-right: auto;
    white-space: nowrap;
}

.stats-wrapper {
    font-size: .9rem;
    display: flex;
    gap: 14px;
    align-items: center;
    white-space: nowrap;
}

.accuracy-wrapper {
    display: flex;
    gap: 8px;
}

.acc-label {
    opacity: .8;
    font-weight: 200;
}

.accuracy, .accuracy-percentage {
    color: rgb(var(--mdui-color-primary));
}

@media screen and (max-width: 434px) {
    .stats-wrapper {
        font-size: 12px;
    }
    .header-text {
        font-size: .8rem;
    }
    .question-icon {
        font-size: 1rem;
    }
}

.stop-timing-btn {
    transform: scale(.8);
    width: 19px;
    height: 19px;
}